<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'phenomenon/main.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block navbar %}
        <nav class="nav">
            <a href="{% url 'index' %}">
                Home
            </a>
            <a href="{% url 'locations' %}">
                Locations
            </a>
        </nav>
        {% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>