<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <meta charset="utf-8">
        {% block CSS %}{% endblock %}
        {% block fonts %}{% endblock %}
        <link rel="stylesheet" href="{% static 'phenomenon/main.css' %}">
        <script src="https://kit.fontawesome.com/2173734033.js" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block navbar %}
        <div class="nav">
            <ul>
                <li>
                    <a class = "home" href="{% url 'index' %}">
                        <span><i class="fas fa-igloo home"></i></span>
                    </a>
                </li>
                <li>
                    <a class = "locations" href="{% url 'locations' %}">
                        <span><i class="fas fa-globe-europe locations"></i></span>
                    </a>
                </li>
                <li>
                    <a class = "about" href="{% url 'about' %}">
                        <span><i class="fas fa-question about"></i></span>
                    </a>
                </li>
            </ul>
        </div>
        {% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>